<% 
  commitsPerWeekDayDistribution = measure("scm-commits-per-weekday")
  if commitsPerWeekDayDistribution && !commitsPerWeekDayDistribution.data.blank?
    
%>  
<table width="100%">
  <tbody>
    <tr>
      <td valign="top" width="100%">
          <div class="dashbox">
          <p class="title"><%= message('widget.scm-stats-commits-per-weekday.title') -%></p>
          <br />
         <%
           query="ck=distbar&c=2A63B9&w=500&h=250&fs=8&bgc=ffffff&v=" + u(commitsPerWeekDayDistribution.data)
         %>
           <%= chart(query, :id => 'commitsPerWeekDayDistribution', :alt => '') -%>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<% else %>
  <p class="title"><%= message('widget.scm-stats-commits-per-weekday.title') -%></p>
  <br />
  <p><%= message('scmstats.noData') -%></p>
<% end %>